.background-login{
    -fx-background-color: linear-gradient(to bottom right, #a3c0f5, #edb3a1);
    -fx-border-color: transparent;
}
.background-register{
    -fx-background-color: linear-gradient(to bottom right, #edb3a1, #a3c0f5 );
    -fx-border-color: transparent;
}
.txtFields{
   -fx-background-color: transparent;
   -fx-border-style: hidden hidden solid hidden;
   -fx-border-width: 0 0 1 0; /* Espesor del borde inferior */
   -fx-border-color: black; /* Color del borde */
}

.txtFields2{
   -fx-background-color: transparent;
   -fx-border-radius: 8px;
   -fx-border-color: #edb3a1; /* Color del borde */
}
.txtFields:selected{
   -fx-border-width: 0 0 2 0; /* Espesor del borde inferior */
    -fx-border-color: blue;
}
.txtFields2:selected{
    -fx-border-color: blue;
}
.txtFields:focused{
   -fx-border-width: 0 0 2 0; /* Espesor del borde inferior */
    -fx-border-color: blue;
}

.photoLogo{
     -fx-background-image: url('../images/logo2.jpg');
     -fx-background-size: cover;
     -fx-background-repeat: no-repeat;
     -fx-background-opacity: 60%;
}

.btnGreen{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.btnGreen:hover{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: green;
    -fx-border-color: green;
}

.btnBlue{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #a3c0f5;
}
.btnBlue:hover{
    -fx-cursor: hand;
    -fx-background-color: #a3c0f5;
    -fx-text-fill: black;
    -fx-border-color: black;
}

.button:hover{
    -fx-cursor: hand;
}

.btnRed{
  -fx-border-radius: 8;
  -fx-background-radius: 8;
  -fx-background-color: transparent;
  -fx-border-color: #E74C3C;
  -fx-text-fill: #E74C3C;
}
.btnRed:hover{
 -fx-cursor: hand;
 -fx-background-color: #E74C3C;
 -fx-border-color: #E74C3C;
 -fx-text-fill: white;
}
.tabsLogIn{
 -fx-background-color: linear-gradient(to bottom right, #a3c0f5, #edb3a1);
 -fx-border-color: transparent;
}
.tabsSignUp{
 -fx-background-color: linear-gradient(to bottom right,#edb3a1 ,#a3c0f5 );
 -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #a3c0f5;
    -fx-border-radius: 8;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: #a3c0f5;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 0 0 1 0; /* Espesor del borde inferior */


}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-background-color: transparent;

}

.table-row-cell {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #333333;
    -fx-border-width: 0 1 1 0; /* Espesor del borde inferior */
    -fx-border-color: #a3c0f5;
}

.table-row-cell:selected {
    -fx-background-color: #336699;
    -fx-text-fill: white;
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}
.tool-bar{
 -fx-spacing: 15px;
}

.roundedImageView {
    -fx-background-radius: 10px; /* Cambia el valor según el grado de redondeo que desees */
    -fx-background-color: transparent; /* Para asegurar que el fondo sea transparente */
}

.artistBg{
     -fx-background-opacity: 60%;
     -fx-background-radius: 20px;
     -fx-background-image: url('../images/image.png');
     -fx-background-size: cover;
     -fx-background-repeat: no-repeat;

}.artistBg2{
     -fx-background-opacity: 60%;
     -fx-background-radius: 20px;
     -fx-background-image: url('../images/mostFamous.png');
     -fx-background-size: cover;
     -fx-background-repeat: no-repeat;

}
.bgInfo{
     -fx-background-opacity: 60%;
     -fx-background-radius: 20px;
     -fx-background-image: url('../images/gold.png');
     -fx-background-size: cover;
     -fx-background-repeat: no-repeat;

}.bgInfo2{
     -fx-background-opacity: 60%;
     -fx-background-radius: 20px;
     -fx-background-image: url('../images/black.png');
     -fx-background-size: cover;
     -fx-background-repeat: no-repeat;

}





